# form of config file is separated by tabs
# arguments in the following order
#	a) Repetition Parameters
# 			1) coRep (copy)
# 			2) vgRep (constant value generation) 
# 			3) hpRep (horizontal partitioning)
# 			4) skRep (surrogate key)
# 			5) vpRep (vertical partition)
#			6) vpiaRep (vertical partition is a)
#			7) aaRep (add attribute)
#			8) daRep (delete attribute)
# 			9) flRep (flattening/unnesting)
# 			10) neRep (nesting)
# 			11) cjRep (self joins)
# 			12) deRep (merging/denormalization)
# 		   	13) ofRep (fusion)
# 		   	14) avRep (atomic value management)
# 		   	15) glRep (synthesis)
#	b) Configuration Parameters
# 			1) seValue (average number of subelements)
# 			2) ndValue (average nesting depth)
# 			3) jsValue (join size)
# 			4) jkValue (join kind)
# 			5) jaValue (average number of elements/attributes in joins)
# 			6) fpValue (average number of arguments in functions)
#			7) naValue (number of new attributes to be added for add attribute)
#			8) daValue (number of attributes to be deleted for delete attribute)
# 			9) skValue (how to generate skolem terms: 0 = use all elements as arguments, 1 = use a random subset, 2 = use a key)
# 			10) seDev (deviation of 1)
# 			11) ndDev (deviation of 2)
# 			12) jsDev (deviation of 3)
# 		   	13) jkDev (deviation of 4)
# 		   	14) jaDev (deviation of 5)
# 		   	15) fpDev (deviation of 6)
#			16) naDev (deviation of 7)
#           17) daDev (deviation of 8)
#           18) skDev (set to 0!)
#	c) Instance Parameters
# 			1) _seed (seed value for random number generation)
# 			2) repElemCountValue (element/tuple cardinality)
# 			3) maxStringLength (max string length)
# 			4) maxNumValue (max numeric value)

# example of a scenerio
#1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	1	2	3	4         
 0	0	0	0	0	1	0	0	0	0	0	0	0	0	0	5	0	3	0	0	0	1	0	0	0	0	0	0	0	0	0	0	0	10	5	10	10
