activation.jar
ant.jar
commons-primitives.jar
geronimo-jms_1.1_spec.jar
hamcrest-core.jar
ivy.jar
jarjar.jar
javaee-api.jar
junit.jar
mail.jar
mysql-connector-java.jar
postgresql.jar
stax-api.jar
xml-apis.jar
xml-resolver.jar
xmlbeans.jar
ant-contrib.jar
args4j.jar
javacc.jar
log4j.jar
saxon.jar
xercesImpl.jar
commons-collections.jar
slf4j-api.jar
slf4j-simple.jar
vagabond.jar
